.columns
  .column.is-two-thirds
    %div{:style => "background-color: #f68b39"}
      ウィンドウ幅2/3サイズの要素
  .column.is-one-thirds
    %div{:style => "background-color: #fce473"}
      ウィンドウ幅1/3サイズの要素
.columns
  .column.is-one-quarter
    %div{:style => "background-color: #42afe3"}
      ウィンドウ幅1/4サイズの要素
  .column.is-half
    %div{:style => "background-color: #f68b39"}
      ウィンドウ幅1/2サイズの要素
