.similar-chcity
  .similar-chcity__name
    = @chcity.jpkanji
  .similar-chcity__simplified
    = @chcity.simplified
  .similar-chcity__latitude-longitude
    = @chcity.latitude  
    = @chcity.longitude