 @import "reset";
 @import "jp-search";
 @import "ch-search";
 @import "font-awesome";

 .body {
  background-image: url("/images/background_image.png");
  filter: brightness(0.8);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }
