.body {
  background-image: url("background_image.png");
  filter: brightness(0.8);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }

 @import "reset";
 @import "jp-search";
 @import "font-awesome";
 