@mixin form-box-style{
  width:220px;        
  margin:auto;
  display: flex;
  justify-content: center;
}

@mixin formstyle_1{
  width:220px;
  height:25px;
  background-color: #e4dada;
  border-radius: 1em;
  float:left;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(142, 142, 142);
  border-image: initial;
  font-size: 20px;
  color:rgb(41, 39, 39);

}

@mixin formstyle_2{
  outline: none;
  border-color: #1e7dd4;
}

@mixin submit_style{
  width:25px;
  height:25px;
  border-radius: 0.5em;
  font-size:13px;
  padding-top:5px;
  padding-left:2px;
  color:black;
  float:right;
}

@mixin textstyle_1{
  color:white;
  font-family: sans-serif;
  text-align: center;
  font-size: 19px;
  opacity:1.0;
  padding-bottom:5px;
  text-shadow:
  1px 1px #aaa,
  2px 2px #999,
  3px 3px #888,
  4px 4px #777,
}

@mixin search-result{
  font-size: 20px;
  color:rgb(41, 39, 39);
  background-color: #e4dada;
  width:200px;
  max-height: 220px;
  overflow:auto;
  display:none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
  position:absolute;
  top:25px;
  left:5px;
  z-index:500;
  border-radius: 0.5em;
 }

.jp-search-field{ 
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  &__top{
  width:100%;
  height:400px;
  background-image: url("/images/new_title_logo.png");
  background-repeat:no-repeat; 
  background-position: center;
  z-index:100;
  }
  &__middle{
  width: 100%;
  height:210px;
    &__stage{
      padding-top:30px;
      padding-left:5px;
      height:250px;
      width:700px;
      margin:0 auto;
      background-color:rgba(74, 74, 74, 0.7);
      filter: box-shadow(0 0 10px white);
      position:relative;
    &__stage::after {
      content: '';
      box-shadow: inset 0 0 15px 15px rgba(74, 74, 74, 0.7);
      position:absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      }
      &__latitude{
      @include textstyle_1;
      &__form-box{
      @include form-box-style;
      &__form{  
        width:220px;
        height:22px;
        position:relative; 
        .clearfix_lat{
        @include formstyle_1;
        }
        .clearfix_lat:focus{
        @include formstyle_2;
        }   
          .submit-stage_lat{
          @include submit_style;
          position:absolute;
          top:0;
          right:0;
          cursor:pointer;
          }
      }
      }
      }
      &__climate{
      @include textstyle_1;
      padding-top:5px;
      &__form-box{
      @include form-box-style;
        &__form{
          width:220px;
          height:22px;
          position:relative;   
          .clearfix_cli{
          @include formstyle_1;
          }
          .clearfix_cli:focus{
          @include formstyle_2; 
          }
            .submit-stage_cli{
            @include submit_style;
            position:absolute;
            top:0;
            right:0;
            cursor:pointer;
            }            
          }      
        }
       }
      &__buttons{
        display:flex;
        justify-content: center;
        .change_country{
        margin-top:15px;
        background-color:#ed6c63;
        color:white;
       }
       .update{
        margin-top:15px;
        background-color:hsl(171, 100%, 41%);
        color:white;
        margin-left:5px;
       }      
     }
   }
  &__bottom{
  width:100%;
  height:35px;
  }
 }
}

#jpcity-search-result-latitude{
  @include search-result; 
  .jpcity__id{
    display: none;
  }
}

#jpcity-search-result-climate{
  @include search-result; 
  .jpcity__id{
    display: none;
  }
}

.jp-search-field__middle__stage{
  position:relative;
   .flash{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width:290px;
    height:20px;
    background-color:rgba(192,192,192,0.8);
    font-size:15px;
    text-align:center;
    color:black;
    z-index:300;
    border-radius: 0.3em;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
   } 
 }